{%-if include.category-%}
  {%-assign pages = site.categories[include.category]-%}  
{%-else-%}
  {%-assign pages = pages%}
{%-endif-%}

{%-if include.limit and pages.size > include.limit-%}
  {%-assign limit_exceeded = true-%}
{%-else-%}
  {%-assign limit_exceeded = false-%}
{%-endif-%}

{%- if pages.size > 0 -%}
  <ul>
    {%- for page in pages limit: include.limit -%}
        <li>
          {% if site.theme_config.lowercase_titles == true %}
          <a href="{{ page.url | relative_url }}">{{ page.title | downcase }}</a>
          {% else %}
          <a href="{{ page.url | relative_url }}">{{ page.title }}</a>
          {% endif %}
        </li>
    {%- endfor -%}
    {%- if include.show_more and limit_exceeded -%}
      <li><a href="{{ include.show_more_url }}">{{ include.show_more_text | default: "Show more..." }}</a></li>
    {%- endif -%}
  </ul>
{%- endif -%}
